.aboutme {
    padding: 0 0 50px 0;
    position: relative;
}

.aboutme-bx {
    background: #300029;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.aboutme h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: orange underline;
}

.aboutme p {
    color: #dddddd;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.aboutme img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

/* .aboutme-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
} */

/* .aboutme-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
} */

/* .item img {
    max-width: 80px;
    padding: 0 5px 0 5px;
} */