.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(13, 0, 0, 0.5)), url('../assets/images/space.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0 200px 0;
}

.contact img {
    width: 92%;
    animation: float 20s linear infinite;
}

.contact h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
    background: rgb(193, 105, 234);
    color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.5;
}

.contact form button {
    font-weight: 700;
    color: rgb(143, 143, 143);
    background-color: rgb(81, 0, 53);
    padding: 9px 25px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 5px;
    position: relative;
    transition: 0.4s ease-in-out;
}

.contact button:hover {
    color: rgb(81, 0, 53);
    background-color: rgb(143, 143, 143);
    transform: translateY(4px);
    box-shadow: 0 0.5em 0.5em -0.4em rgba(59, 0, 67, 0.233);
}

.contact form button:hover::before {
    width: 100%;
}

@keyframes float {

    /* 0% {
        transform: translateX(0px) translateY(-300px);
    }

    20% {
        transform: translateX(100px) translateY(-200px);
    }

    30% {
        transform: translateX(150px) translateY(-160px);
    }

    40% {
        transform: translateX(100px) translateY(100px);
    }

    50% {
        transform: translateX(-10px) translateY(-100px);
    }

    60% {
        transform: translateX(-100px) translateY(-240px);
    } */
    0% {
        transform: translateX(0px) translateY(0px);
    }

    50% {
        transform: translateX(20px) translateY(-20px);
    }

    60% {
        transform: translateX(25px) translateY(-25px);
    }

    70% {
        transform: translateX(35px) translateY(-35px);
    }

    70% {
        transform: translateX(25px) translateY(-25px);
    }

    70% {
        transform: translateX(15px) translateY(-10px);
    }

    70% {
        transform: translateX(5px) translateY(10px);
    }

    80% {
        transform: translateX(-10px) translateY(-10px);
    }

    90% {
        transform: translateX(-15px) translateY(2px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}