footer {
    height: 11vh;
    background-image: linear-gradient(rgba(18, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/starry-night-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer p {
    color: rgb(255, 179, 14);
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}